<div class="container-fluid">
  <agm-map [latitude]="42.6977082" [longitude]="23.321867500000053">
    <agm-marker [latitude]="42.6977082" [longitude]="23.321867500000053"></agm-marker>
  </agm-map>
</div>
