<div class="panel">

  <div class="panel__textNicon">
      <div class="panel__textNicon__icon">
          <i class="fa fa-{{iconType}}" aria-hidden="true"></i>
      </div>

      <label class="panel__textNicon__text">{{label}}</label>
  </div>

  <div class="panel__description">
      Every website needs the right environment if it plans to be successful
  </div>

  <div class="button"> <i class="fa fa-expand" aria-hidden="true"></i> </div>
</div>
