.panel {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  flex: 1;
  height:100%;

  .panel__textNicon {
    margin: auto;
    text-transform: uppercase;
    color: #414141;

    .panel__textNicon__icon {
      margin: 1em 0;

      font-size: 2em;
      text-align: center;
      color: #da491c
    }
  }

  div.panel__description {
    visibility: hidden;

    padding: 0 1em;
    text-align: center;
    color: #5d5d5d;
  }

  div.button {
    visibility: hidden;

    margin-top: 0.5em;
    padding: 1em;
    width: 100%;
    border-radius: 0;
    text-align: center;
    background-color: #da491c;

    i {
      color: white;
    }
  }

  &:hover {
    color: white;
    background-color: #292929;

    .panel__textNicon {
      color: white;
    }

    div.button {
      visibility: visible;
    }

    div.panel__description {
      visibility: visible;
    }
  }
}
