.navbar {
    position: absolute;
    padding: inherit 5em;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    /**
     * I could of write .navbar-brand, .navbar-nav li a { color: white }
     * but it is a good practise to do it that way, because it is easy to change it if the requirements change.
     */
    .navbar-brand {
        color: white;
    }
    button {
        .navbar-toggler-icon {
            // Necessary to change the color of the hamburger.
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
    .navbar-nav {
        li {
            a {
                padding: 0.5em 1em;
                &:hover {
                    color: #da491c;
                }
                color: white;
            }
            .dropdown-menu {
                background-color: rgb(17, 18, 21);
            }
        }
    }
}
