<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Front-end Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ABOUT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAbout">
          <a class="dropdown-item" href="#">Lorem ipsum</a>
          <a class="dropdown-item" href="#">What we do</a>
          <a class="dropdown-item" href="#">Team</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACTS</a>
      </li>
    </ul>
  </div>
</nav>
