.vertical-center {
  display: flex;
  align-items: center;
}

.jumbotron {
  margin: 0;
  padding: 0;

  color: white;
  background-image:  linear-gradient(
    rgba(73, 72, 72, 0.486),
    rgba(73, 72, 72, 0.486)
  ), url('/assets/imgs/bg-parallax.jpg');
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;

  .container {

    h1 {
      text-align: center;
      text-transform: uppercase;
    }

    p.lead {
      margin: 0;
      padding: 0;

      text-align: center;
    }

    hr {
      width: 4em;
      border-color: #da491c;
    }
  }
}
