<div class="jumbotron jumbotron-fluid vertical-center">
  <div class="container">
    <h1 class="display-4">we <b>love</b> to write code</h1>
    <hr class="">
    <p class="lead display-6">Temporibus autem quibusdam et aut officiis debitis aut rerum
      necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
  </div>
</div>
