<div id="our-specialty" class="container-fluid">
  <div class="row">
    <div id="our-specialty_description" class="col-md-5 col-sm-12">

      <header>
        <h1 class="h1"> OUR SPECIALTY </h1>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </header>

      <p>
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
        commodi consequatur?
      </p>

      <p>
        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
        optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
      </p>

    </div>
    <div id="our-specialty__items" class="col-md-7 col-sm-12">
      <div id="items" class="container-fluid">
        <div class="row">
          <div id="development" class="col-md-4 col-sm-12 border-bottom-none border-top-none">
            <sg-panel label="development" iconType="wrench"></sg-panel>
          </div>
          <div id="uiux" class="col-md-4 col-sm-12 border-bottom-none border-top-none">
            <sg-panel label="ui/ux" iconType="paint-brush"></sg-panel>
          </div>
          <div id="social" class="col-md-4 col-sm-12 border-bottom-none border-top-none">
            <sg-panel label="social marketing" iconType="bullhorn"></sg-panel>
          </div>
          <div id="system" class="col-md-4 col-sm-12">
            <sg-panel label="system architecture" iconType="gear"></sg-panel>
          </div>
          <div id="copyright" class="col-md-4 col-sm-12">
            <sg-panel label="copyrighting" iconType="copyright"></sg-panel>
          </div>
          <div id="photography" class="col-md-4 col-sm-12">
            <sg-panel label="photography" iconType="photo"></sg-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
