#our-specialty {
    margin: 0;
    padding: 0;
    height: 80vh;

    @media (max-width: 768px) {
      height: inherit;
    }

    >.row {
        margin: 0;
        padding: 0;
        height: 100%;
        #our-specialty_description {
            padding: 5em 4em;
            header {
                h1 {
                    padding-left: 0.5em;
                    border-left: 2px solid #da491c;
                }
                p {
                    color: #5d5d5d;
                }
            }
            >p {
                margin: 3em 0;
            }
        }
        #our-specialty__items {
            #items {
                height: 100%;
                .row {
                    height: 100%;
                    div {
                        padding: 0;
                        border: 1px solid #cccccc;
                        border-right: none;
                    }
                    div.border-bottom-none {
                        border-bottom: none;
                    }
                    div.border-top-none {
                        border-top: none;
                    }
                    @media (max-width: 768px) {
                        div.border-bottom-none {
                            border-bottom: 1px solid #cccccc;
                        }
                        div.border-top-none {
                            border-top: 1px solid #cccccc;
                        }
                    }
                }
            }
        }
    }
}
